extends layout
block head
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")

block content
    - var type = false
    - var classType = ""
    - var urlforscripts = "/student-lk"
    include header
     
    section.private-office.wrap
        p.private-office__title Личный кабинет студента

        .private-office__content 
            .private-office__person-info
                .private-office__person
                    img(src="/images/img-profile.png", alt="").private-office__person-img
                    .private-office__person-description.ml-4 
                        p.private-office__person-FIO #{student.lostname} #{student.firstname} #{student.patronymic} 
                        p.private-office__person-text.mt-1 студент
                        p.private-office__person-text.mt-1 #{student.class}
                        .private-office__person-text.mt-1 
                            img(src="/images/mail 1.png", alt="").private-office__icon
                            p #{student.email}
                .private-office__test-open
                    p.private-office__test-open-title Доступные тесты
                    .private-office__test-open-wrap.openTests.mt-4
                        .test-card-person.mr-6
                            p.test-card-person__title Название теста 1
                            img(src="/images/Group 64.png", alt="").test-card-person__btn
                            .popup.popup-controll.popup-controll-tests
                                .popup-fade_tests 
                                    .popup-controll__content 
                                        .popup-controll__header
                                            p Прохожддение теста
                                        .popup-close
                                            p ❌
                                        .popup-controll__inputs-wrap.mt-7

                                            .popup-controll__inputs-row 
                                                input(type="text" value="Вопрос 1").popup-controll__input.popup-controll__input_question
                                                img(src="/images/Arrow - Right.png", alt="").popup-controll__img
                                                input(type="text" placeholder="Ответ").popup-controll__input.popup-controll__input_answer
                                                .popup-controll-tests__radio-answer.popup-controll-tests__radio-answer_none

                                            .popup-controll__inputs-row 
                                                input(type="text" value="Вопрос 2").popup-controll__input.popup-controll__input_question
                                                img(src="/images/Arrow - Right.png", alt="").popup-controll__img
                                                input(type="text" placeholder="Ответ").popup-controll__input.popup-controll__input_answer
                                                .popup-controll-tests__radio-answer.popup-controll-tests__radio-answer_none

                                            .popup-controll__inputs-row 
                                                input(type="text" value="Вопрос 3").popup-controll__input.popup-controll__input_question
                                                img(src="/images/Arrow - Right.png", alt="").popup-controll__img
                                                input(type="text" placeholder="Ответ").popup-controll__input.popup-controll__input_answer
                                                .popup-controll-tests__radio-answer.popup-controll-tests__radio-answer_none

                                            .popup-controll__inputs-row 
                                                input(type="text" value="Вопрос 4").popup-controll__input.popup-controll__input_question
                                                img(src="/images/Arrow - Right.png", alt="").popup-controll__img
                                                input(type="text" placeholder="Ответ").popup-controll__input.popup-controll__input_answer
                                                .popup-controll-tests__radio-answer.popup-controll-tests__radio-answer_none
                                        .popup-controll__btn-wrap
                                            .popup-controll__btn.btn.btn_strong
                                                p Ответить  ➔
                        .test-card-person.mr-6
                            p.test-card-person__title Название теста 2
                            img(src="/images/Group 64.png", alt="").test-card-person__btn
                            .popup.popup-controll.popup-controll-tests
                                .popup-fade_tests 
                                    .popup-controll__content 
                                        .popup-controll__header
                                            p Прохожддение теста
                                        .popup-close
                                            p ❌
                                        .popup-controll__inputs-wrap.mt-7

                                            .popup-controll__inputs-row 
                                                input(type="text" value="Вопрос 1").popup-controll__input.popup-controll__input_question
                                                img(src="/images/Arrow - Right.png", alt="").popup-controll__img
                                                input(type="text" placeholder="Ответ").popup-controll__input.popup-controll__input_answer
                                                .popup-controll-tests__radio-answer.popup-controll-tests__radio-answer_none

                                        .popup-controll__btn-wrap
                                            .popup-controll__btn.btn.btn_strong
                                                p Ответить  ➔


            .private-office__test-list
                p.private-office__test-list-title Пройденные тесты
                .private-office__test-list-wrap
                    .test-card-person.mt-4.mr-1
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                    
                    .test-card-person.mt-4.mr-1
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                    
                    .test-card-person.mt-4.mr-1
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                    
                    .test-card-person.mt-4.mr-1
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                    
                    .test-card-person.mt-4.mr-1
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                    
                    .test-card-person.mt-4.mr-1
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                    
                    .test-card-person.mt-4
                        p.test-card-person__title Название теста 2
                        p.test-card-person__raitng Оценка: 5
                


block footer
    script(src="/assets/vendor.js")
    script(src="/assets/app.js")