extends layout
block head
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")

block content
    - var type = false
    - var classType = ""
    - var urlforscripts = "/teacher-lk"
    include header
     
    section.private-office.wrap
        p.private-office__title Личный кабинет препадавателя

        .private-office__content 
            .private-office__person-info
                .private-office__person
                    img(src="/images/img-profile.png", alt="").private-office__person-img
                    .private-office__person-description.ml-4 
                        p.private-office__person-FIO #{teacher.lostname} #{teacher.firstname} #{teacher.patronymic} 
                        p.private-office__person-text.mt-1 преподаватель
                        .private-office__person-text.mt-1 
                            img(src="/images/mail 1.png", alt="").private-office__icon
                            p #{teacher.email}
                .private-office__test-open
                    p.private-office__test-open-title Редактировать тесты
                    .private-office__test-open-wrap.private-office__test-open-wrap_control.mt-4
                        
                        .test-card-person.test-card-person_control.test-card-person_control-add.mr-6
                            p.test-card-person__title Создать тесты
                            img(src="/images/edit.png", alt="").test-card-person-complite__img.test-card-person-complite__img_control

                        .test-card-person.test-card-person_control.test-card-person_control-del.mr-6
                            p.test-card-person__title Удалить тесты
                            img(src="/images/delet.png", alt="").test-card-person-complite__img.test-card-person-complite__img_control


            .private-office__test-list
                p.private-office__test-list-title Пройденные тесты
                .private-office__test-list-wrap
                    each comp in complite
                        .test-card-person-complite.mt-4
                            .test-card-person-complite__description 
                                p.test-card-person-complite__title #{comp.name}
                                p.test-card-person-complite__FIO #{comp.lostname} #{comp.firstname} #{comp.patronymic}
                            .test-card-person-complite__info
                                img(src="/images/delet.png", alt="").p.test-card-person-complite__img.delete-stud-test(data-id-test = comp.id_test data-id-student = comp.id_student)
                                p.test-card-person-complite__status Оценка: #{comp.estimation}

            .popup.popup-controll.popup-controll-create
                .popup-fade_control 
                    .popup-controll__content 
                        .popup-controll__header
                            p Создание теста
                        .popup-close
                            p ❌
                        .popup-controll__inputs-wrap.mt-7
                            .popup-controll__inputs-row 
                                input(type="text" placeholder="Вопрос").popup-controll__input.popup-controll__input_question
                                img(src="/images/Arrow - Right.png", alt="").popup-controll__img
                                input(type="text" placeholder="Ответ").popup-controll__input.popup-controll__input_answer
                        .popup-controll__btn-wrap
                            .popup-controll__btn.btn.btn_strong.popup-controll__btn_create(data-id=teacher.id)
                                p Создать  ➔
                            .popup-controll__btn.btn.btn_strong.popup-controll__btn_plas
                                p +
                            .popup-controll__btn.btn.btn_strong.popup-controll__btn_mines
                                p -
                            input(type="text" placeholder="Название теста").popup-controll__input.popup-controll__input_name.mr-2
                            input(type="text" placeholder="Класс").popup-controll__input.popup-controll__input_class

            .popup.popup-controll.popup-controll-delite
                .popup-fade_delite.popup-fade_control
                    .popup-controll__content 
                        .popup-controll__header
                            p Улаление теста
                        .popup-close
                            p ❌
                        .popup-controll__tests-wrap.mt-7
                            each test in tests
                                .tests-to-delite 
                                    p.tests-to-delite__name #{test.name}
                                    img(src="/images/delet.png", alt="").tests-to-delite__icon.delet__test(data-id = test.id)

block footer
    script(src="/assets/vendor.js")
    script(src="/assets/app.js")